<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - Raymall</title>
</head>
<body>
<%= require('html-loader!./layout/nav.html') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 side-bar">
            <%= require('html-loader!./layout/nav-side.html') %>
        </div>
        <div class="col-md-10 page-content">
            <div class="page-title">
                商品管理
                <button class="btn btn-default btn-info btn-refresh">重新加载</button>
                <a href="./manage-product-save.html" class="btn btn-success btn-add-product">
                    <i class="fa fa-plus fa-fw"></i>
                    <span>新增商品</span>
                </a>
            </div>
            <div class="page-body">
                <div class="product-filter form-group form-inline">
                    <select type="text" placeholder="按订单号查询" class="form-control form-inline product-sort-by">
                        <option value="productId">按商品id查询</option>
                        <option value="productName">按商品名称查询</option>
                    </select>
                    <input type="text" placeholder="关键词" class="form-control product-input"/>
                    <button class="btn btn-default btn-primary btn-query">查询</button>
                </div>
                <hr class="divider"/>
                <div class="product-list">
                </div>
            </div>
        </div>
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>