<div class="nav-side  navbar-collapse collapse" id="nav-side-bar">
    <div class="nav-side-item collapsed" data-toggle="collapse"
         data-target="" id="index">
        <i class="fa fa-dashboard fa-fw"></i>
        <span>Home</span>
    </div>

    <div class="nav-side-item " data-toggle="collapse"
         data-target=".nav-product-second">
        <i class="fa fa-bar-chart-o fa-fw"></i>
        <span>商品</span>
    </div>
    <div class="nav-side-second nav-product-second collapse ">
        <div class="nav-side-item nav-product-manage" id="manage-product">
            <span>商品管理</span>
        </div>
        <div class="nav-side-item nav-category-manage" id="manage-category">
            <span>品类管理</span>
        </div>
    </div>

    <div class="nav-side-item " data-toggle="collapse"
         data-target=".nav-order-second">
        <i class="fa fa-wrench fa-fw"></i>
        <span>订单</span>
    </div>

    <div class="nav-side-second nav-order-second collapse ">
        <div class="nav-side-item nav-order-manage" id="manage-order">
            <span>订单管理</span>
        </div>
    </div>
</div>