<!--导航栏-->
<nav class="nav navbar-default native-fixed-top">
    <!--自适应容器-->
    <div class="container-fluid">
        <div class="navbar-header">
            <!--在响应式布局中，当浏览器大小小于某个值就会显示如下图标-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#nav-side-bar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--商标Logo-->
            <a class="navbar-brand" href="./index.html">RAYMALL_ADMIN</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-username">欢迎</a></li>
            <li><a class="nav-logout" href="./user-login.html">登出</a></li>
        </ul>
    </div>
</nav>